.friend-show-page-img{
  max-width: 7rem;
  max-height: 7rem;
  width: 7rem;
  height: 7rem;
  border-radius: 4rem;
}

.friend-show-page-header-row{
  margin: -10px -10px -10px 0px;
}

.friend-show-page-name{
  padding-top: 3.3rem;
}
