<div
  class="reminder-dashboard-card-block"
  [ngClass]="{read: reminder.state === 'read',archived: reminder.state == 'archived'}"
>
  <div *ngIf="isUnRead" class="reminder-dashboard-card-opaque"></div>
  <p class="card-text">You are going to join {{reminder.content.name}} on {{ reminder.content.date | dateDiff:reminder.createdAt }}</p>
  <button
    *ngIf="reminder.state !== 'archived'"
    clear small class="dashboard-card-icon"
    (click)="archive($event)"
  >
    <ion-icon name="close" class="reminder-dashboard-card-close-icon"></ion-icon>
  </button>
  <button
    *ngIf="reminder.state !=='archived'"
    (click)="goToPublicEventShowPage(reminder.content.id)"
    class="dashboard-view-btn">
    View
  </button>
</div>
