.comment-new-page {
  .comment-note {
    margin: 2rem auto;
    width: 90%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
  }
  .comment-textarea {
    font-family: "Open Sans", sans-serif;
  }
}
