.chatroom-index-page-img{
  max-width: 5rem;
  max-height: 5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 3rem;
  object-fit: contain;
}

.chatroom-index-page-last-message {
  color: #B8B8B8;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.chatroom-index-page-last-message-at-container {
  color: #B8B8B8;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .chatroom-index-page-unread-badge {
    margin-bottom: .5rem;  
  }
}

.add-user-to-chat {
  text-align: center;
  background-color: map-get($colors, primary);
  color: map-get($colors, light);
}
